In [1]:
import pandas as pd

In [2]:
unclean_crime  = pd.read_csv('../original_datasets/unclean_crime.csv')
unclean_crime

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,0000X W WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,42.0,32.0,11,NaN,NaN,2015,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19.0,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14.0,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,087XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,21.0,71.0,11,NaN,NaN,2014,04/06/2019 04:04:43 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7914420,12131776,JD327752,08/10/2020 08:30:00 PM,066XX S SACRAMENTO AVE,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,17.0,66.0,05,1157527.0,1860392.0,2020,08/17/2020 03:41:32 PM,41.772671,-87.698104,"(41.772671069, -87.698104059)"
7914421,12082414,JD269218,06/18/2020 09:00:00 PM,093XX S DR MARTIN LUTHER KING JR DR,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,9.0,49.0,06,1180558.0,1843036.0,2020,06/25/2020 03:41:40 PM,41.724546,-87.614211,"(41.724546436, -87.614210743)"
7914422,12118237,JD311791,07/27/2020 03:02:00 PM,033XX W POLK ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,24.0,27.0,08B,1154169.0,1896171.0,2020,08/03/2020 03:41:51 PM,41.870921,-87.709461,"(41.870920735, -87.709461362)"
7914423,12142591,JD340297,08/14/2020 03:00:00 PM,023XX W ROSEMONT AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,50.0,2.0,07,1159419.0,1941765.0,2020,08/26/2020 03:40:41 PM,41.995927,-87.688929,"(41.995927389, -87.688928533)"
7914424,12002171,JD177406,03/06/2020 02:00:00 PM,033XX N LAKEWOOD AVE,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,APARTMENT,False,False,...,44.0,6.0,11,1167040.0,1922212.0,2020,03/13/2020 03:41:29 PM,41.942112,-87.661459,"(41.942112495, -87.661458579)"

In [3]:
unclean_crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,0000X W WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,42.0,32.0,11,NaN,NaN,2015,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19.0,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14.0,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,087XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,21.0,71.0,11,NaN,NaN,2014,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [4]:
print(unclean_crime['ID'].nunique())
print(len(unclean_crime['ID']))

7914425
7914425

In [5]:
print(unclean_crime['Case Number'].nunique())
print(len(unclean_crime['Case Number']))

7913878
7914425

In [6]:
unclean_crime[unclean_crime['Case Number'].duplicated() == True]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
110020,27774,JG446325,10/01/2023 03:43:00 PM,000XX S WHIPPLE ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,28.0,27.0,01A,1156167.0,1899624.0,2023,10/09/2023 03:41:55 PM,41.880356,-87.702033,"(41.880356034, -87.70203272)"
124172,27782,JG453003,10/06/2023 02:40:00 AM,018XX W 54TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,False,True,...,16.0,61.0,01A,1164814.0,1868881.0,2023,10/14/2023 03:41:53 PM,41.795815,-87.671152,"(41.795815172, -87.671152128)"
126814,27788,JG456963,10/09/2023 03:03:00 PM,062XX S ASHLAND AVE,0110,HOMICIDE,FIRST DEGREE MURDER,RETAIL STORE,False,False,...,16.0,67.0,01A,1166742.0,1863261.0,2023,10/17/2023 03:42:14 PM,41.780352,-87.664242,"(41.780352232, -87.66424243)"
2118812,25213,JD272406,06/22/2020 01:01:00 PM,086XX S WOOD ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,True,...,21.0,71.0,01A,1165855.0,1847347.0,2020,09/19/2022 03:41:05 PM,41.736701,-87.667946,"(41.736700905, -87.667945593)"
2121543,26147,JE175526,07/26/2021 12:57:00 PM,038XX S MICHIGAN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,3.0,35.0,01A,1177828.0,1879596.0,2021,09/19/2022 03:41:05 PM,41.824933,-87.623105,"(41.824933076, -87.623104662)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249887,5098,HR411763,07/05/2009 03:00:00 AM,012XX E 63RD ST,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,True,False,...,20.0,42.0,01A,1185405.0,1863477.0,2009,09/19/2022 03:41:05 PM,41.780526,-87.595815,"(41.780526088, -87.595814598)"
2249939,22240,HY551250,12/27/2015 06:05:00 AM,059XX S WENTWORTH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,20.0,68.0,01A,1175978.0,1865746.0,2015,09/19/2022 03:41:05 PM,41.786969,-87.630307,"(41.786969136, -87.630307356)"
2250145,21718,HY106072,01/06/2015 05:53:00 PM,022XX E 79TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,7.0,43.0,01A,1192475.0,1853026.0,2015,09/01/2022 03:42:17 PM,41.751678,-87.570235,"(41.751678423, -87.57023511)"
2250475,2811,HK509310,07/22/2004 11:35:00 AM,008XX N SPRINGFIELD AVE,0110,HOMICIDE,FIRST DEGREE MURDER,PORCH,True,False,...,27.0,23.0,01A,1150235.0,1905403.0,2004,09/19/2022 03:41:05 PM,41.896332,-87.723664,"(41.896331896, -87.723663785)"
2250614,19261,HS148489,02/02/2010 06:28:00 PM,085XX S MORGAN ST,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,True,False,...,21.0,71.0,01A,1171139.0,1848199.0,2010,09/19/2022 03:41:05 PM,41.738925,-87.648562,"(41.738925174, -87.648561871)"

In [7]:
unclean_crime[unclean_crime.duplicated() == True]

Empty DataFrame
Columns: [ID, Case Number, Date, Block, IUCR, Primary Type, Description, Location Description, Arrest, Domestic, Beat, District, Ward, Community Area, FBI Code, X Coordinate, Y Coordinate, Year, Updated On, Latitude, Longitude, Location]
Index: []

[0 rows x 22 columns]

In [8]:
unclean_crime.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [9]:
unclean_crime = unclean_crime[['Case Number', 'Date', 'Primary Type', 'Latitude', 'Longitude']]
unclean_crime

,Case Number,Date,Primary Type,Latitude,Longitude
0,JA371270,03/18/2015 12:00:00 PM,DECEPTIVE PRACTICE,NaN,NaN
1,JC213749,12/20/2018 03:00:00 PM,DECEPTIVE PRACTICE,NaN,NaN
2,JC212333,05/01/2016 12:25:00 AM,DECEPTIVE PRACTICE,NaN,NaN
3,JC211511,12/20/2018 04:00:00 PM,OTHER OFFENSE,NaN,NaN
4,JC212935,06/01/2014 12:01:00 AM,DECEPTIVE PRACTICE,NaN,NaN
...,...,...,...,...,...
7914420,JD327752,08/10/2020 08:30:00 PM,BURGLARY,41.772671,-87.698104
7914421,JD269218,06/18/2020 09:00:00 PM,THEFT,41.724546,-87.614211
7914422,JD311791,07/27/2020 03:02:00 PM,BATTERY,41.870921,-87.709461
7914423,JD340297,08/14/2020 03:00:00 PM,MOTOR VEHICLE THEFT,41.995927,-87.688929
7914424,JD177406,03/06/2020 02:00:00 PM,DECEPTIVE PRACTICE,41.942112,-87.661459

In [10]:
unclean_crime = unclean_crime[unclean_crime.Latitude.isnull() == False]
unclean_crime

,Case Number,Date,Primary Type,Latitude,Longitude
11,JD226426,05/07/2020 10:24:00 AM,THEFT,41.830482,-87.621752
12,JD209965,04/16/2020 05:00:00 AM,BATTERY,41.836310,-87.639624
13,JD282112,07/01/2020 10:16:00 AM,ASSAULT,41.747610,-87.549179
14,JD381597,09/27/2020 11:29:00 PM,BATTERY,41.774878,-87.671375
15,HL474854,07/10/2005 03:00:00 PM,BATTERY,41.781003,-87.652107
...,...,...,...,...,...
7914420,JD327752,08/10/2020 08:30:00 PM,BURGLARY,41.772671,-87.698104
7914421,JD269218,06/18/2020 09:00:00 PM,THEFT,41.724546,-87.614211
7914422,JD311791,07/27/2020 03:02:00 PM,BATTERY,41.870921,-87.709461
7914423,JD340297,08/14/2020 03:00:00 PM,MOTOR VEHICLE THEFT,41.995927,-87.688929
7914424,JD177406,03/06/2020 02:00:00 PM,DECEPTIVE PRACTICE,41.942112,-87.661459

In [11]:
unclean_crime.reset_index(drop=True, inplace=True)

In [12]:
unclean_crime

,Case Number,Date,Primary Type,Latitude,Longitude
0,JD226426,05/07/2020 10:24:00 AM,THEFT,41.830482,-87.621752
1,JD209965,04/16/2020 05:00:00 AM,BATTERY,41.836310,-87.639624
2,JD282112,07/01/2020 10:16:00 AM,ASSAULT,41.747610,-87.549179
3,JD381597,09/27/2020 11:29:00 PM,BATTERY,41.774878,-87.671375
4,HL474854,07/10/2005 03:00:00 PM,BATTERY,41.781003,-87.652107
...,...,...,...,...,...
7824312,JD327752,08/10/2020 08:30:00 PM,BURGLARY,41.772671,-87.698104
7824313,JD269218,06/18/2020 09:00:00 PM,THEFT,41.724546,-87.614211
7824314,JD311791,07/27/2020 03:02:00 PM,BATTERY,41.870921,-87.709461
7824315,JD340297,08/14/2020 03:00:00 PM,MOTOR VEHICLE THEFT,41.995927,-87.688929
7824316,JD177406,03/06/2020 02:00:00 PM,DECEPTIVE PRACTICE,41.942112,-87.661459

In [13]:
unclean_crime = unclean_crime.sort_values(by='Date').reset_index(drop=True)

In [14]:
unclean_crime

,Case Number,Date,Primary Type,Latitude,Longitude
0,G001009,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,41.848786,-87.704087
1,G001554,01/01/2001 01:00:00 AM,BATTERY,41.765396,-87.626698
2,G001792,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,41.854014,-87.681909
3,G000876,01/01/2001 01:00:00 AM,THEFT,41.798298,-87.692856
4,G010990,01/01/2001 01:00:00 AM,WEAPONS VIOLATION,41.866694,-87.688513
...,...,...,...,...,...
7824312,JF528687,12/31/2022 12:45:00 PM,CRIMINAL DAMAGE,41.874153,-87.735239
7824313,JF528703,12/31/2022 12:50:00 PM,ASSAULT,41.766546,-87.645669
7824314,JF528801,12/31/2022 12:50:00 PM,ASSAULT,41.855911,-87.719966
7824315,JF528218,12/31/2022 12:52:00 AM,BATTERY,41.868829,-87.686098
7824316,JF528704,12/31/2022 12:52:00 PM,ASSAULT,41.930693,-87.685657

In [15]:
unclean_crime = unclean_crime.rename(columns={'Case Number' : 'id', 'Date': 'date', 'Primary Type' : 'type', 'Latitude' : 'lat', 'Longitude' : 'Long'})
unclean_crime

,id,date,type,lat,Long
0,G001009,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,41.848786,-87.704087
1,G001554,01/01/2001 01:00:00 AM,BATTERY,41.765396,-87.626698
2,G001792,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,41.854014,-87.681909
3,G000876,01/01/2001 01:00:00 AM,THEFT,41.798298,-87.692856
4,G010990,01/01/2001 01:00:00 AM,WEAPONS VIOLATION,41.866694,-87.688513
...,...,...,...,...,...
7824312,JF528687,12/31/2022 12:45:00 PM,CRIMINAL DAMAGE,41.874153,-87.735239
7824313,JF528703,12/31/2022 12:50:00 PM,ASSAULT,41.766546,-87.645669
7824314,JF528801,12/31/2022 12:50:00 PM,ASSAULT,41.855911,-87.719966
7824315,JF528218,12/31/2022 12:52:00 AM,BATTERY,41.868829,-87.686098
7824316,JF528704,12/31/2022 12:52:00 PM,ASSAULT,41.930693,-87.685657

In [16]:
unclean_crime.to_csv('../clean_datasets/clean_crime.csv')