In [5]:
import pandas as pd
from shapely.geometry import Point, MultiPolygon

In [6]:
test = pd.read_csv('../clean_datasets/clean_bike_stations.csv')
test

,Unnamed: 0,station,lat,long,id
0,0,Central Park Ave & Bloomingdale Ave,41.914166,-87.716755,641
1,1,Racine Ave & 35th St,41.830689,-87.656211,367
2,2,Carpenter St & 63rd St,41.779870,-87.650919,648
3,3,Cottage Grove Ave & 63rd St,41.780531,-87.605970,427
4,4,Bernard St & Elston Ave,41.949923,-87.713949,640
...,...,...,...,...,...
570,570,Shedd Aquarium,41.867226,-87.615355,3
571,571,Wells St & Hubbard St,41.889906,-87.634266,212
572,572,Marshfield Ave & 59th St,41.786833,-87.666215,560
573,573,Sheffield Ave & Kingsbury St,41.910522,-87.653106,20
574,574,Ogden Ave & Chicago Ave,41.896362,-87.654061,54

In [ ]:
def determine_within(df):